<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">
      {{viendoInactivos() ? 'Papelera de Empleados' : 'Lista de Empleados'}}
    </h2>

    <div>
      <button
        class="btn me-3 fw-bold"
        [class.btn-outline-danger]="!viendoInactivos()"
        [class.btn-outline-primary]="viendoInactivos()"
        (click)="alternarVista()">
        @if (!viendoInactivos()) {
          <i class="bi bi-trash3-fill me-2"></i>
          Ver Inactivos
        } @else {
          <i class="bi bi-eye-fill me-2"></i>
          Ver Activos
        }
      </button>

      <button class="btn btn-outline-success me-2" (click)="exportarExcel()">
          <i class="bi bi-file-earmark-spreadsheet-fill me-2"></i>
          Exportar a Excel
      </button>
      <button class="btn btn-outline-danger me-2" (click)="exportarPDF()">
          <i class="bi bi-file-earmark-pdf-fill me-2"></i>
          Exportar a PDF
      </button>

    </div>
  </div>

<div class="table-responsive">
  <table class="table table-striped mt-3 shadow-sm">
    <thead [class.table-dark]="!viendoInactivos()" [class.table-danger]="viendoInactivos()">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Departamento</th>
        <th>Puesto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (empleado of empleados(); track empleado.id) {
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.correo }}</td>
          <td>{{ empleado.departamento }}</td>
          <td>{{ empleado.puesto }}</td>
          <td>
            @if (!viendoInactivos()) {
              <button class="btn btn-warning btn-sm me-2" (click)="confirmarEditar(empleado)">
                Editar
              </button>
              <button class="btn btn-danger btn-sm" (click)="confirmarEliminar(empleado)">
                Eliminar
              </button>
            } @else {
              <button class="btn btn-info btn-sm text-white fw-bold" (click)="confirmarReactivar(empleado)">
                <i class="bi bi-arrow-repeat me-1"></i>
                Reactivar
              </button>
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="6" class="text-center py-4 text-muted">
            {{ viendoInactivos() ? 'No hay empleados en la papelera.' : 'No hay empleados registrados.' }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
</div>
